@font-face {
  font-family: "Cereal-Bold";
  src: url("@/assets/fonts/Airbnb_Cereal-Bold.ttf");
}
@font-face {
  font-family: "Cereal-Medium";
  src: url("@/assets/fonts/Airbnb_Cereal-Medium.ttf");
}
@font-face {
  font-family: "Cereal-Regular";
  src: url("@/assets/fonts/Airbnb_Cereal-Regular.ttf");
}
