.home-list {
  display: grid;

  grid-template-columns: repeat(4, minmax(240px, 1fr));

  gap: 25px;

  @include for-wide-layout {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    grid-template-rows: repeat(2, minmax(240px, 1fr));
  }

  @include for-normal-layout {
    grid-template-columns: repeat(2, minmax(218px, 1fr));
    grid-template-rows: repeat(2, minmax(212px, 1fr));
  }
  @include for-narrow-layout {
    grid-template-columns: repeat(
      auto-fill,
      minmax(200px, 1fr)
    );
  }
  @include for-lg-mobile-layout {
    display: flex;
    overflow: scroll;
  }
  @include for-mobile-layout {
    .main-layout {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    display: flex;
    overflow: scroll;
  }
}
.popular-dest-list {
  padding: 0px;
  margin-bottom: rem(68px);

  .popular-header {
    font-family: Cereal-Regular;
    font-size: 33px;
    font-weight: 600;
    letter-spacing: -0.66px;
    line-height: 47px;
    margin-top: -1px;
    margin-bottom: rem(48px);
  }
}
.home-card {
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
  justify-content: flex-start;
  cursor: pointer;
  position: relative;

  .home-img {
    border-radius: 12px;
    object-fit: cover;
    border-bottom: 0px;
    max-height: 300px;
    @include for-narrow-layout {
      min-height: 200px;
      min-width: 214px;
    }
  }

  .country-name {
    font-family: Cereal-Regular;
    text-align: start;
    white-space: pre-line;
    font-size: 27px;
    letter-spacing: -0.27px;
    line-height: 27px;
    margin-bottom: 24px;
    margin-top: 14px;
    color: white;
    margin-left: 1.1rem;
  }
  .popular {
    padding-top: 5px;
  }
}
.txt-container {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: #05050566;
  font-family: Cereal-Regular;

  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
  justify-content: flex-start;
  .dist-country {
    font-family: Cereal-Regular;
    color: white;
    line-height: 20px;
    font-size: 15px;
    font-weight: 400;
    margin-left: rem(18px);
  }

  @include for-mobile-layout {
    bottom: 0px;
    height: 28px;
    line-height: 6px;
    padding-bottom: 68px;
    .home-card .popular {
      padding-top: 0px !important;
    }
  }
}
.unique-dest-list {
  margin-top: rem(92px);
  margin-bottom: rem(106px);

  @include for-mobile-layout {
    .country-name {
      margin-bottom: -5px;
    }
  }
}

.unique-txt {
  @include for-wide-layout {
    bottom: 0.25rem;
  }
  @include for-normal-layout {
    bottom: 0rem;
  }

  @include for-narrow-layout {
    bottom: 0rem;
  }
  .country-name {
    margin-bottom: 14px !important;
  }
  position: absolute;
  bottom: 1px;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  background-color: #05050566;
  font-family: Cereal-Regular;
  padding-bottom: 5px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  .dist-country {
    font-family: Cereal-Regular;
    color: white;
    line-height: 20px;
    font-size: 15px;
    font-weight: 400;
    margin-left: rem(18px);
  }
}
