.stay-list {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(303px, 1fr)
  );
  column-gap: rem(24px);
  row-gap: rem(40px);
  padding-top: 16px;
  padding-bottom: 250px;
  @include for-wide-layout {
    grid-template-columns: repeat(
      auto-fill,
      minmax(250px, 1fr)
    );
  }
  @include for-normal-layout {
    grid-template-columns: repeat(
      auto-fill,
      minmax(230px, 1fr)
    );
  }
}

.sort-btn {
  height: 38px;
  cursor: pointer;
  border: 1px solid $clr3;
  background-color: $clr2;
  outline: none;
  margin: 0;
  border-radius: 30px;
  color: $clr5;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-right: 8px;
  margin-top: 4px;
  margin-bottom: 4px;
  flex: none;
  gap: rem(1px);
  &.small-btn {
    width: 77px;
  }
  &:focus {
    border: 2px solid black;
  }
}

.sort-btn:hover {
  border-color: $clr5;
}

.rotate {
  transform: rotate(180deg);
}

.price-modal {
  position: absolute;
  margin-top: rem(50px);
  top: 100px;
  z-index: 20;
  background: rgb(255, 255, 255);
  border: 0.5px solid rgba(118, 118, 118, 0.28);
  border-radius: 12px;
  overflow: hidden;
  justify-content: flex-start;
  .price-container {
    align-self: center;
  }
  .input-price {
    cursor: text;
    min-height: rem(56px);
    width: 100%;
    margin: 0px;
    border: none;
    color: rgb(34, 34, 34);
    background-color: rgb(255, 255, 255);
    border-radius: rem(8px);
    box-shadow: rgb(176 176 176) 0px 0px 0px 1px inset;
    font-family: Circular, -apple-system, BlinkMacSystemFont,
      Roboto, "Helvetica Neue", sans-serif;
    font-size: rem(16px);
    line-height: rem(20px);
    font-weight: 400;
    padding-left: 10px;
    padding-top: 5px;
  }
  input {
    border: none !important;
    width: 50px;
    font-size: 15px !important;
  }
  .label {
    font-size: 12px;
    color: #a3a3a3;
  }
  .sep-min-max {
    padding: 3px 9px 8px 9px;
  }
  .higer-modal-section {
    width: rem(440px);
    height: rem(264px);
    padding: rem(20px);
    justify-content: center;
    align-items: center;
  }
  .lower-modal-section {
    padding: 12px 14px;
    border-top: 1px solid rgb(235, 235, 235);
    align-items: center;
    .save-btn {
      font-size: rem(14px);
      font-family: Circular, -apple-system,
        BlinkMacSystemFont, Roboto, "Helvetica Neue",
        sans-serif;
      line-height: rem(18px);
      font-weight: 600;
      background: rgb(34, 34, 34);
      color: rgb(255, 255, 255);
      cursor: pointer;
      padding: rem(8px) rem(16px);
      border-radius: rem(8px);
      width: rem(63.01px);
      height: rem(34px);
    }
    .clear-btn {
      cursor: pointer;
      margin: 0px -10px;
      text-align: center;
      width: auto;
      font-family: Circular, -apple-system,
        BlinkMacSystemFont, Roboto, "Helvetica Neue",
        sans-serif;
      font-size: 16px;
      line-height: 20px;
      font-weight: 600;
      border-radius: 8px;
      outline: none;
      padding: 10px;
      transition: box-shadow 0.2s ease 0s,
        -ms-transform 0.1s ease 0s,
        -webkit-transform 0.1s ease 0s,
        transform 0.1s ease 0s;
      border: none;
      background: transparent;
      color: rgb(221, 221, 221, 1);
      text-decoration: underline;
      contain: paint;
    }
  }
}

.price-change input:active {
  border: 0.3px solid #ffffff00;
  width: 50px;
  font-size: 15px !important;
}

.price-change input:focus {
  border: 0.3px solid #ffffff00;
  width: 50px;
  font-size: 15px !important;
}

.range {
  margin-top: rem(28px);
  width: 100%;
}

.price-change {
  display: flex;
}

.prices {
  margin-top: rem(28px);
  width: 100%;
  span {
    position: absolute;
    margin-top: rem(-20px);
  }
}

.input-price {
  height: rem(40px);
  width: rem(80px);
}

.modal-container {
  position: absolute;
  margin-top: rem(50px);
  left: rem(172px);
  top: 100px;
  z-index: 20;
  justify-content: flex-start;
  background: $clr2;
  border: 0.5px solid hsla(0, 0%, 46.3%, 0.28);
  border-radius: 12px;
  .lower-modal-section {
    padding: 12px 14px;
    border-top: 1px solid #ebebeb;
    align-items: center;
    width: rem(360px);
    height: rem(65px);
  }
  .higer-modal-section {
    padding: rem(20px);
    width: rem(360px);
    height: rem(340px);
  }
}

.checkmark {
  position: absolute;
  top: 12px;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #b0b0b0;
  border-radius: 4px;
  accent-color: $clr5;
}

.save-btn {
  font-size: rem(14px);
  font-family: Circular, -apple-system, BlinkMacSystemFont,
    Roboto, "Helvetica Neue", sans-serif;
  line-height: rem(18px);
  font-weight: 600;
  background: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: rem(8px) rem(16px);
  border-radius: rem(8px);
  width: rem(63.01px);
  height: rem(34px);
  border: none;
}

.clear-btn {
  cursor: pointer;
  margin: 0px -10px;
  text-align: center;
  width: auto;
  font-family: Circular, -apple-system, BlinkMacSystemFont,
    Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  outline: none;
  padding: 10px;
  transition: box-shadow 0.2s ease 0s,
    -ms-transform 0.1s ease 0s,
    -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  border: none;
  background: transparent;
  color: rgb(221, 221, 221, 1);
  text-decoration: underline;
  contain: paint;
}

.type-title {
  font-size: 14px;
  line-height: 20px;
  color: $clr7;
}

.type-header {
  font-size: 16px;
  line-height: 20px;
  color: $clr5;
}

.type-filter-container {
  padding-left: 19px;
}

.type-filter {
  padding-top: 12px;
  display: block;
  position: relative;
  padding-left: 19px;
  margin-bottom: 12px;
  cursor: pointer;
  text-align: start;
}

.explore-buttons {
  overflow: auto;
  margin-top: 86px;
  @include for-wide-layout {
    align-items: center;
    button {
      height: rem(50px);
      flex: none;
    }
  }
  @include for-narrow-layout {
    align-items: center;
    overflow: scroll auto;
  }
  @include for-mobile-layout {
    align-items: center;
    overflow: scroll auto;
  }
}

.loading-img {
  margin-inline-start: 30%;
  margin-block-start: 2%;
  width: rem(400px);
  height: rem(150px);
  margin-bottom: 450px;
}
