.mini-filter-container {
  display: flex;
  .mini-filter {
    position: absolute;
    font-family: Cereal-Regular;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 20px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%),
      0 4px 12px rgb(0 0 0 / 5%);
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 40px;
    height: 48px;
    padding: 0 7px 0 16px;
    width: 300px;
    font-size: 14px;
    text-indent: 5px;
    span:before {
      font-family: fas;
      fill: $clr2;
      background-color: #ff385c;
      border-radius: 50%;
      height: 30px;
      padding: 10px;
    }
    span {
      color: #343434;
      font-size: 14px;
      font-weight: 600;
    }
    .search-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $clr2;
      border-radius: 50%;
      border: none;
      background-color: #ff385c;
      height: 32px;
      width: 32px;
      margin-inline-end: 4px;
      button {
        background-color: transparent;
        border: none;
        box-shadow: none;
        margin: 0;
      }
    }
    @include for-narrow-layout {
      display: flex;
      visibility: visible;
      min-width: 100vw;
      align-items: center;
      justify-content: center;
      align-content: space-between;
      gap: 5px;
      margin: 0px;
    }
  }
}

.filterInMobile {
  display: none !important;
  background-color: rgb(255, 255, 255);
  height: 3.875rem;
  position: absolute;
  right: 40px;
  width: 18.375rem;
  background-color: white;
  display: block;
  left: 50%;
  visibility: visible;
  z-index: 1000;
  bottom: -46px;
  transform: translate(-50%, -50%);
  border-radius: 0.875rem;
  box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
  padding: 24px;
  .filterInMobile-input {
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    color: rgb(34, 34, 34);
    text-align: center;
    justify-content: center;
  }
  .filterInMobile-btn {
    border: 0px;
    background-color: transparent;
    transform: scale3d(1.5, 1.5, 1.5);
    transform: rotate(180deg) scale3d(1.5, 1.5, 1.5);
  }
  @include for-narrow-layout {
    display: block !important;
  }
}

.filter {
  justify-content: center;
  label {
    font-weight: 800;
  }
  input {
    min-width: 200px;
    border: none;
    background-color: transparent;
    outline: none;
  }
}

.main-filter {

  @include for-normal-layout {
    .el-date-editor {
      --el-date-editor-width: unset;
      --el-date-editor-monthrange-width: unset;
      --el-date-editor-daterange-width: unset;
      max-width: 350px;
    }
    .input-container {
      border-radius: 40px;
      padding: 12.5px 3.5px 12.5px 11px !important;
      height: 100%;
      cursor: pointer;
      flex-basis: 0%;
      flex-grow: 1.5;
    }
  }
  @include for-narrow-layout {
    display: none;
  }
  font-family: Cereal-Regular;
  gap: 5px;
  transform-origin: top;
  position: absolute;
  transition: all 0.2s;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
  top: 75px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%),
    0 4px 12px rgb(0 0 0 / 5%);
  background-color: $clr2;
  border: 1px solid $clr3;
  border-radius: rem(40px);
  font-size: rem(14px);
  height: 66px;
  max-width: 850px;
  align-self: center;
  line-height: rem(20px);
  font-size: 16px;
  color: $clr5;
  .input-container {
    border-radius: 40px;
    padding: 12.5px 12.5px 12.5px 25px;
    height: 100%;
    cursor: pointer;
    flex-basis: 0%;
    flex-grow: 1.5;
    .title-destination {
      padding-left: 16px;
      font-size: 12px;
      line-height: 16px;
      padding-bottom: 2px;
      padding-left: 15px;
      letter-spacing: 0.48px;
    }
    .dropdown {
      font-size: 14px;
      line-height: 18px;
      width: 20vw;
      word-spacing: 0px;
      text-align: left;
      padding-bottom: 29px;
      margin-left: 13px;
      margin-right: -17px;
    }
    input.dropdown {
      -webkit-appearance: none;
      appearance: none;
      font-family: inherit;
    }
    .location-filter {
      display: contents;
      line-height: 11.5px;
    }
    .guests {
      font-weight: 400;
      font-size: 14px;
      background-color: transparent;
      line-height: 18px;
      font-family: Cereal-Regular;
      font-size: 14px;
      line-height: 18px;
      word-spacing: 0px;
      text-align: left;
      margin: 0px;
      color: $clr7;
    }
  }
  .input-container:hover {
    background-color: #ebebeb;

    .container-check {
      width: 291px !important;
      background-color: #ebebeb;
      border-radius: 40px;
      padding: 12.5px 3.5px 7.5px 11px !important;
      height: 70px;
      .el-range-input {
        margin-right: -22px;
      }
    }
  }
  button {
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin: 0;
  }
  .search-btn {
    width: rem(48px);
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    height: 48px;
    align-items: center;
    color: $clr2;
    border-radius: 50%;
    border: none;
    background-color: #ff385c;
    margin-right: 8px;
    margin-top: 8px;
    padding: 0 8px;
    cursor: pointer;
    label {
      font-size: rem(17px);
      font-weight: 800;
    }
    input {
      border: none;
      background-color: transparent;
      outline: none;
    }
  }
  .el-range-editor.el-input__inner {
    display: inline-flex;
    padding: -1px 3px !important;
  }
}

.filter.hide {
  transform: scale(0.35, 0.74);
  visibility: hidden;
  top: 55px;
  display: none;
  position: fixed;
}

.date-list {
  height: 100%;
  justify-content: center;
}

.el-date-picker {
  border-color: rgba(255, 255, 255, 0) !important;
}

.guests-label {
  font-family: Cereal-Regular;
  font-weight: 200;
  font-size: 12px !important;
  line-height: 16px;
  padding-bottom: 2px;
  letter-spacing: 0.48px;
}

.guests-Modal {
  display: flex;
  margin-top: 16.34px;
  z-index: 100;
  background-color: $clr2;
  border-radius: 32px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%),
    0 4px 12px rgb(0 0 0 / 5%);
  top: rem(60px);
  height: 370px;
  width: 380px;
  padding: 16px 32px;
  position: absolute;
  right: 0;
  line-height: rem(20px);
  font-size: 16px;
  font-weight: 600;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: stretch;
  justify-content: center;
  .guide-age {
    font-size: 14px;
    font-weight: 400;
    color: #484848;
  }
  button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    color: $clr7;
    border: 1px solid #b0b0b0;
    background-color: $clr2;
    text-align: center;
    font-size: 16px;
    margin: 5px;
    align-items: center;
    justify-content: center;
  }
  li {
    padding: 36px 0px;
  }
  li:nth-child(1) {
    border-bottom: 0.5px solid #e1e1e1;
  }
  li:nth-child(2) {
    border-bottom: 0.5px solid #e1e1e1;
  }
}

.input-container:nth-child(odd) {
  width: 25%;
}

.input-container:nth-child(even) {
  width: 50%;
}

.demonstration {
  width: 100%;
}

.border-guests {
  margin-right: 0px;
  padding-left: 0px;
  padding-bottom: 4px;
}

.el-date-range-picker .el-picker-panel__content {
  margin: 0px;
  margin-top: -62px !important;
}

.caret-hide {
  margin-top: rem(15px);
}

.el-input__inner {
  position: relative;
  -webkit-appearance: none;
  background-color: #ffffff00;
  background-image: none;
  border-radius: var(
    --el-input-border-radius,
    var(--el-border-radius-base)
  );
  font-family: Cereal-Regular;
  font-size: inherit;
  height: 32px;
  line-height: 32px;
  padding: 0 11px;
  transition: var(--el-transition-box-shadow);
  width: 100%;
  border: none;
  left: -20px;
  box-shadow: none;
}

.el-input__inner:hover {
  box-shadow: none !important;
}

.el-date-table td.end-date .el-date-table-cell__text,
.el-date-table td.start-date .el-date-table-cell__text {
  font-family: Cereal-Regular;
  background-color: #222222;
}

.el-date-editor .el-range-separator {
  font-family: Cereal-Regular;
  flex: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  font-size: 14px;
  word-break: keep-all;
  color: var(--el-text-color-primary);
  .el-date-editor--daterange.el-input,
  .el-date-editor--daterange.el-input__inner,
  .el-date-editor--timerange.el-input,
  .el-date-editor--timerange.el-input__inner {
    width: none;
  }
}

.el-date-editor .el-range__close-icon--hidden {
  opacity: 2px;
  margin-left: -70px;
}

.el-date-editor .el-range__close-icon {
  font-size: 14px;
  color: var(--el-text-color-placeholder);
  height: inherit;
  width: unset;
  cursor: pointer;
  box-shadow: none !important;
}

.el-date-editor .el-range__icon svg {
  vertical-align: middle;
  visibility: collapse;
}

.el-date-editor .el-range__icon {
  height: inherit;
  font-size: 14px;
  color: var(--el-text-color-placeholder);
  float: left;
  height: 42px;
}

.el-date-editor .el-range__close-icon:hover {
  font-size: 14px;
  color: var(--el-text-color-placeholder);
  height: inherit;
  width: unset;
  cursor: pointer;
  margin-left: -70px;
  box-shadow: none !important;
}

.el-range-editor.is-active:hover {
  box-shadow: none !important;
}

.el-range-editor.is-active {
  box-shadow: none !important;
}

.el-range-editor.is-active:hover {
  box-shadow: none !important;
}

.el-popper {
  font-family: Cereal-Regular;
  position: inherit;
  border-radius: var(--el-popper-border-radius);
  padding: 5px 11px;
  z-index: 2000;
  font-size: 12px;
  line-height: 20px;
  min-width: 10px;
  word-wrap: break-word;
  visibility: visible;
  margin-top: 30px;
}

.el-date-range-picker .el-picker-panel__body {
  font-family: Cereal-Regular;
  max-width: rem(840px);
  margin-top: 71px;
}

.el-date-range-picker__header {
  font-family: Cereal-Regular;
  position: relative;
  text-align: center;
  height: 20px;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 44px;
  color: #222222;
  padding-bottom: 44px;
}

.el-date-range-picker__header div {
  font-family: Cereal-Regular;
  font-size: 16px;
  font-weight: 600;
  margin-right: 50px;
}

.el-date-table {
  font-family: Cereal-Regular;
  font-size: 16px;
  -webkit-user-select: none;
  user-select: none;
  line-height: 20px;
  padding-right: 20px;
  padding-right: 20px;
  text-align: center;
  color: #222222;
}

.el-date-table th {
  font-size: 12px;
  font-family: Cereal-Regular;
  padding: 5px;
  line-height: 20px;
  font-weight: 400;
  border-bottom: solid 1px var(--el-border-color-lighter);
  top: 62px;
  color: #757575;
}

.el-date-table td.available:hover {
  color: #484848;
}

.el-date-table
  td
  .el-date-table-cell
  .el-date-table-cell__text {
  z-index: 2;
  font-family: Cereal-Regular;
  width: 42px;
  height: 42px;
  display: block;
  margin: 0 auto;
  font-size: 14px;
  line-height: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  font-weight: 600;
  text-align: center;
}

.el-date-range-picker__content.is-left {
  border-right: none;
}

.el-date-table th {
  font-family: Cereal-Regular;
  font-size: 12px;
  padding: 5px;
  line-height: 20px;
  font-weight: 400;
  border-bottom: 0px;
  top: 62px;
  color: #757575;
}

.el-picker__popper.el-popper[role="tooltip"] {
  font-family: Cereal-Regular;
  background: var(--el-color-white);
  border: 1px solid var(--el-datepicker-border-color);
  box-shadow: var(--el-box-shadow-light);
  position: static;
}

.el-date-table td .el-date-table-cell {
  height: 45px;
  padding: 3px 0;
  box-sizing: border-box;
}

.el-date-table
  td
  .el-date-table-cell
  .el-date-table-cell__text {
  z-index: 2;
  font-family: Cereal-Regular;
  width: 42px;
  height: 42px;
  display: block;
  margin: 0 auto;
  font-size: 14px;
  line-height: 40px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  font-weight: 600;
  text-align: center;
}
.el-date-table td.in-range .el-date-table-cell {
  background-color: #f7f7f7;
}

.el-date-range-picker .el-picker-panel__content {
  margin: 0px;
}

.el-date-range-picker__content {
  float: left;
  width: 50%;
  box-sizing: border-box;
  margin: 0px;
  padding: 19px;
}



