* {
    box-sizing: border-box;
}

body {
    font-family: Cereal-Regular;
    font-size: 14px;
    line-height: 1.43;
    color: #484848;
    background-color: #fff;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    height: 100vh;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    height: 100%;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222222;
    line-height: 1;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}